## Lab 13
### *Hasan Ravda [ 216270307028 ]*

# Write a Python program to implement K-Nearest Neighbour supervised machine learning algorithm for given dataset.

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('/kaggle/input/heart-failure-clinical-data/heart_failure_clinical_records_dataset.csv')
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [3]:
X = df[['ejection_fraction','serum_creatinine','time','serum_sodium','age']]
Y = df['DEATH_EVENT']

In [4]:
X

     ejection_fraction  serum_creatinine  time  serum_sodium   age
0                   20               1.9     4           130  75.0
1                   38               1.1     6           136  55.0
2                   20               1.3     7           129  65.0
3                   20               1.9     7           137  50.0
4                   20               2.7     8           116  65.0
..                 ...               ...   ...           ...   ...
294                 38               1.1   270           143  62.0
295                 38               1.2   271           139  55.0
296                 60               0.8   278           138  45.0
297                 38               1.4   280           140  45.0
298                 45               1.6   285           136  50.0

[299 rows x 5 columns]

In [5]:
Y

0      1
1      1
2      1
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: DEATH_EVENT, Length: 299, dtype: int64

In [6]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,
                                                    test_size=0.30)

In [7]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train,Y_train)
pred = knn.predict(X_test)

In [8]:
a=accuracy_score(Y_test, pred) 
print("Accuracy : " ,a*100)

Accuracy :  85.55555555555556