## Lab 7
### *Hasan Ravda [ 216270307028 ]*

# Write a Pandas program to implement following operation

In [1]:
import pandas as pd
import numpy as np

### 1. To create a dataframe from a dictionary and display it

In [2]:
dict = {
    "product" : ['a','b','c','d','e'],
    "cost" : [100,200,300,400,500],
    "mrp" : [105,210,315,420,525]
}
df = pd.DataFrame(dict)
df

  product  cost  mrp
0       a   100  105
1       b   200  210
2       c   300  315
3       d   400  420
4       e   500  525

### 2. To sort the DataFrame first by 'name' in ascending order

In [3]:
cricket_df=pd.DataFrame({"name":["Sachin","Kohli","Dhoni","Rahul"],"age":[50,39,42,37]})
sorted_df=cricket_df.sort_values(by="name",ascending=True)    # ascending is by default True
sorted_df

     name  age
2   Dhoni   42
1   Kohli   39
3   Rahul   37
0  Sachin   50

### 3. To delete the one specific column from the DataFrame

In [4]:
print("Dataframe before deleting: \n")
df

Dataframe before deleting:

  product  cost  mrp
0       a   100  105
1       b   200  210
2       c   300  315
3       d   400  420
4       e   500  525

In [5]:
# del df['mrp']           # directly delete column from the dataframe

print("\nDataframe after deleting column : \n")
df.drop("mrp",axis=1)

Dataframe after deleting column :

  product  cost
0       a   100
1       b   200
2       c   300
3       d   400
4       e   500

### 4. To write a DataFrame to CSV file using tab separator

In [6]:
df.to_csv("outputL7.csv",index=False,sep="\t")

print("Data from CSV file : \n")
csv_df=pd.read_csv("outputL7.csv")
csv_df

Data from CSV file :

  product\tcost\tmrp
0        a\t100\t105
1        b\t200\t210
2        c\t300\t315
3        d\t400\t420
4        e\t500\t525