## Lab 10
### *Hasan Ravda [ 216270307028 ]*

## Write a Pandas program to implement following operation

In [ ]:
# Hasan Ravda       216270307028
import pandas as pd
import numpy as np

### 1. to find and drop the missing values from the given dataset

In [ ]:
dict = {
    'Name':["A","B" ,"C","D"],
    'Maths':[100, 90, None, 95],
 'Science': [30, np.nan, 45, 56]
 }
df=pd.DataFrame(dict)
df=pd.read_csv('/kaggle/input/titanic-dataset/Titanic-Dataset.csv')
df

In [ ]:
print("Dropping the missing values from df : \n")
df.dropna()

### 2. to remove the duplicates from the given dataset

In [ ]:
# df=pd.DataFrame({
#     'Name':["A","B" ,"B","C","D","A"],
#     'Maths':[100, 90, 90, 80,95,0],
#      'Science': [30, 59, 59,45, 56,33]
#      })
print("Original df : \n")
df

In [ ]:
df.drop_duplicates()           # By default, it removes duplicate rows based on all columns.

In [ ]:
df.drop_duplicates(subset='Name')       # remove duplicates on specific column